


<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="../../assets/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>ID</b></label>
    <input type="text" placeholder="Enter ID" name="email"  required [(ngModel)] = 'model.id'>
    <label for="uname"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="email"  required [(ngModel)] = 'model.name'>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email"  required [(ngModel)] = 'model.email'>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required [(ngModel)] = 'model.password' >
        
    <button type="submit" (click)="login()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <button type="submit" (click)="page()">Register</button>
  </div>
</form>
